<!-- Start Header/Navigation -->
<nav class="bg-dark text-white py-3 px-4" aria-label="Furni navigation bar">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-2xl font-bold" href="index.html">Furni<span class="text-red-500">.</span></a>

    <button class="lg:hidden text-white focus:outline-none" type="button" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation" onclick="document.getElementById('navbarsFurni').classList.toggle('hidden')">
      <span class="material-icons">menu</span>
    </button>

    <div class="hidden lg:flex space-x-6">
      <a class="hover:text-red-500 transition duration-300" href="index.html">Home</a>
      <a class="hover:text-red-500 transition duration-300" href="shop.html">Shop</a>
      <a class="hover:text-red-500 transition duration-300 active:text-red-500" href="about.html">About us</a>
      <a class="hover:text-red-500 transition duration-300" href="services.html">Services</a>
      <a class="hover:text-red-500 transition duration-300" href="blog.html">Blog</a>
      <a class="hover:text-red-500 transition duration-300" href="contact.html">Contact us</a>
    </div>

    <div class="hidden lg:flex space-x-6">
      <a href="#"><img class="w-6 h-6 transform hover:scale-110 transition duration-300" src="/assets/images/user.svg" alt="User"></a>
      <a href="cart.html"><img class="w-6 h-6 transform hover:scale-110 transition duration-300" src="/assets/images/cart.svg" alt="Cart"></a>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="lg:hidden hidden" id="navbarsFurni">
    <ul class="flex flex-col mt-4 space-y-2">
      <li><a class="hover:text-red-500 transition duration-300" href="index.html">Home</a></li>
      <li><a class="hover:text-red-500 transition duration-300" href="shop.html">Shop</a></li>
      <li><a class="hover:text-red-500 transition duration-300 active:text-red-500" href="about.html">About us</a></li>
      <li><a class="hover:text-red-500 transition duration-300" href="services.html">Services</a></li>
      <li><a class="hover:text-red-500 transition duration-300" href="blog.html">Blog</a></li>
      <li><a class="hover:text-red-500 transition duration-300" href="contact.html">Contact us</a></li>
    </ul>

    <ul class="flex space-x-6 mt-4">
      <li><a href="#"><img class="w-6 h-6 transform hover:scale-110 transition duration-300" src="/assets/images/user.svg" alt="User"></a></li>
      <li><a href="cart.html"><img class="w-6 h-6 transform hover:scale-110 transition duration-300" src="/assets/images/cart.svg" alt="Cart"></a></li>
    </ul>
  </div>
</nav>
<!-- End Header/Navigation -->
